// Размеры экрана
$mobile-width-max: 767px;
$tablet-width-max: 1023px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Colors
$color-white: #ffffff;
$color-whiteopac07: rgba(255, 255, 255, 0.7);
$color-whiteopac08: rgba(255, 255, 255, 0.8);
$color-black: #000000;
$color-blackopac05: rgba(0, 0, 0, 0.5);
$color-blackopac07: rgba(0, 0, 0, 0.7);
$color-grayhard: #1f1f1f;
$color-blue: #0ad9c6;
$color-form: rgba(28, 28, 28, 0.5);
$color-backgrounddark: #131314;
$color-backgroundlight: #f6f7f9;
$color-backgroundnav: #f6f6f6;
$color-border: rgba(255, 255, 255, 0.2);
$color-borderlight: #c9ccd4;
$color-nav: #48494d;
$color-gradient: #131314;
$color-arrow: rgba(44, 46, 63, 0.5);
$white: #ffffff;
$black: #000000;
$grey: #1b2b37;
$grey-text: #788891;
$grey-features: #666666;
$grey-light: #8d969b;
$blue: #00b2ff;
$grey-footer: #fafafa;
